*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 2rem;
}

::-moz-selection {
  background-color: #2584ff;
  color: #fff;
}

::selection {
  background-color: #2584ff;
  color: #fff;
}

h1,
h2,
h3 {
  color: #1b0760;
  margin: 0;
}

h2 {
  font-size: 4rem;
  line-height: 1;
}

h3 {
  font-size: 2.8rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
}

p {
  color: #918ca4;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
  }
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("R../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.badge {
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .badge--small {
    font-size: 1.2rem;
  }
}

.badge--primary {
  background-color: #2584ff;
}

.badge--secondary {
  background-color: #00d9ff;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.badge--primary-darken {
  background-color: #1178ff;
}

.badge--secondary-darken {
  background-color: #00d0f5;
}

.link {
  font-size: 2rem;
  font-weight: bold;
  color: #ff3400;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 1.5rem;
  }
}

.link::after {
  content: "-->";
  margin-left: 1rem;
  -webkit-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
}

.link:hover::after {
  margin-left: 2rem;
}

.list {
  list-style: none;
  font-size: 2rem;
  margin-left: 2rem;
  color: #1b0760;
}

.list--tick {
  list-style-image: url(/scss/components/list/image/tick.svg);
}

.list--tick li {
  padding-left: 1rem;
  margin-top: 2rem;
}

.list--vertical {
  white-space: nowrap;
}

.list--vertical li {
  display: inline-block;
}

.list--domains li {
  font-weight: bold;
  margin-top: 3rem;
}

.icon {
  width: 40px;
  height: 40px;
  fill: #2584ff;
}

.icon-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f3f9fa;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
}

.btn {
  cursor: pointer;
  white-space: nowrap;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1.8rem;
  border-radius: 40px;
  text-align: center;
}

.btn--accent {
  background-color: #ff3400;
  color: white;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}

.btn--accent:hover {
  background-color: #cc2a00;
}

.btn--fit-content {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn--with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--with-icon .icon {
  fill: #fff;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn--with-maxwidch {
  min-width: 150px;
  max-width: 200px;
}

.btn--outline {
  border: 2px solid #1b0760;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}

.btn--outline:hover {
  background-color: #1b0760;
  color: white;
}

.btn--secondary {
  background-color: #00d9ff;
  color: #fff;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}

.btn--secondary:hover {
  background-color: #00aecc;
}

.input {
  width: 100%;
  display: block;
  font-size: 2rem;
  padding: 2rem 3rem;
  border: none;
  color: #1b0760;
  outline: none;
}

.input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.input:-ms-input-placeholder {
  color: #b3b3b3;
}

.input::-ms-input-placeholder {
  color: #b3b3b3;
}

.input::placeholder {
  color: #b3b3b3;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 30px 20px #e6ebee;
          box-shadow: 0 0 30px 20px #e6ebee;
  overflow: hidden;
}

.input-group .btn {
  margin: 0.5rem;
}

.card {
  -webkit-box-shadow: 0 0 20px 10px #f3f3f3;
          box-shadow: 0 0 20px 10px #f3f3f3;
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.card--primary .card__header {
  background-color: #2584ff;
}

.card--secondary .card__header {
  background-color: #00d9ff;
}

.card__header {
  height: 30%;
}

.card__body {
  height: 70%;
}

.plan {
  width: 100%;
}

.plan .card__header {
  padding: 2rem;
  color: white;
}

.plan h3 {
  font-size: 2.4rem;
  color: white;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .plan h3 {
    font-size: 1.4rem;
  }
}

.plan p {
  color: white;
}

.plan .badge {
  margin-left: 2rem;
  padding: 0.5rem 1.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.plan .card__body {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.plan .btn {
  padding-left: 0;
  padding-right: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  opacity: 0.8;
}

.plan__slogan {
  letter-spacing: 1px;
}

.plan--popular {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header:first-child::before {
  content: url(/scss/components/plan/image/popular.svg);
  display: block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}

.media-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media-object .medie-object__icon-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 2rem;
}

.media-object__body h3 {
  margin-top: 0rem;
  color: white;
}

.media-object__body p {
  margin-top: 1.5rem;
  color: #7b858b;
}

.quote p {
  font-size: 2.2rem;
  color: #5c5577;
  font-style: italic;
  line-height: 1.3;
}

.quote p::before {
  content: open-quote;
}

.quote p::after {
  content: close-quote;
}

.quote h3 {
  color: #1b0760;
  font-weight: normal;
}

.quote .icon {
  fill: red;
}

.quote .media-object .medie-object__icon-container {
  margin-left: 0;
}

.quote .media-object__body {
  margin-top: 1.6rem;
}

.quote .media-object__body p {
  margin-top: 0;
  font-style: normal;
  font-size: 1.5rem;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card.testimonial {
  overflow: visible;
  padding: 2rem;
}

.card.testimonial:hover {
  -webkit-transform: none;
          transform: none;
}

.card.testimonial .quote {
  margin-left: 3rem;
  padding: 2rem;
}

.testimonial__image {
  width: 100%;
  position: relative;
}

.testimonial__image img {
  width: 100%;
}

.testimonial__image .icon-container {
  position: absolute;
  background-color: #ff3400;
  right: -30px;
  top: 30px;
}

.testimonial__image .icon-container .icon {
  width: 30px;
  height: 30px;
  fill: white;
}

.callout.grid {
  text-align: center;
  background-color: #2584ff;
  padding: 5rem 2rem;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .callout.grid {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    text-align: left;
  }
}

.callout.grid h3 {
  font-size: 3rem;
}

.callout.grid p {
  color: #fff;
}

.callout.grid .btn {
  margin-top: 5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .callout.grid .btn {
    margin-top: inherit;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.collapsible--for-footer {
  border-bottom: 1px solid gray;
}

.collapsible--for-footer .collapsible__header {
  margin: 1rem 0;
}

.collapsible--for-footer .collapsible__header {
  margin: 1rem;
}

.collapsible--for-footer h3 {
  font-size: 2.6rem;
  color: #fff;
}

.collapsible--for-footer .collapsible__list {
  margin: 1rem;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .collapsible--for-footer {
    display: inline-block;
    border: 0;
  }
  .collapsible--for-footer h3 {
    font-size: 2rem;
  }
  .collapsible--for-footer .collapsible__icon {
    display: none;
  }
  .collapsible--for-footer li {
    font-size: 1.5rem;
  }
}

.collapsible__icon {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.collapsible__content {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
}

.collapsible.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.collapsible__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.collapsible__list {
  margin: 1.5rem 0rem;
  margin-top: 0rem;
  color: #777;
}

.collapsible__list li {
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.collapsible__list li:hover {
  color: #fff;
}

.block {
  padding-top: 4rem;
}

.block h2 {
  text-align: center;
}

.block--dark {
  background-color: black;
}

.block--gray {
  background-color: #232323;
}

.block__tagline {
  text-align: center;
  margin: 1.5rem;
}

.container {
  margin: 0 auto;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 1140px;
}

.block--streched-left {
  margin-top: -1px;
  padding-bottom: 8rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.block--streched-right {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 95%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 95%);
  padding-bottom: 8rem;
}

.nav {
  display: block;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

.nav__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
}

.nav__logo img {
  width: 80%;
}

.nav-toggle-icon {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: white;
  margin: 1rem;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .nav-toggle-icon {
    display: none;
  }
}

.collapsible--expanded .nav-toggle-icon {
  opacity: 1;
  -webkit-box-shadow: 0 0 0 3px #666;
          box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.collapsible__list.nav__list {
  color: #d2d0db;
  margin-left: 1rem;
  margin-right: 1rem;
}

.collapsible__list.nav__list li {
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #222;
}

.collapsible__list.nav__list li:last-of-type {
  border: none;
  padding-bottom: 0;
}

.collapsible__list.nav__list li:first-of-type {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .collapsible__list.nav__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-right: 2rem;
  }
  .collapsible__list.nav__list li {
    font-size: 1.5rem;
    display: inline-block;
    border: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature h3 {
  color: #1b0760;
  margin: 1rem 0;
}

.feature p {
  margin: 1rem 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--1x1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid--1x2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid--1x2-pc {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x3-pc {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x5-pc {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x6-pc {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
}

.hero h1 {
  text-align: center;
  color: white;
  line-height: 1;
  font-size: 6rem;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 8rem;
    text-align: left;
  }
}

.hero p {
  margin: 3rem 2rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  color: #b9c3cf;
}

@media screen and (min-width: 768px) {
  .hero p {
    text-align: left;
    margin-left: 0;
  }
}

.hero__btn-shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero__btn-shell {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.hero__btn-shell .btn {
  padding-left: 7rem;
  padding-right: 7rem;
}

@media screen and (min-width: 768px) {
  .hero__btn-shell .btn {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.hero__image img {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .hero__image img {
    width: 100%;
  }
}

.domain {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
  padding: 0 2rem;
}

.domain h2 {
  margin-top: 2rem;
  color: #1b0760;
  font-size: 4rem;
  line-height: 1;
}

.domain p {
  color: #918ca4;
  margin: 2rem;
}

@media screen and (min-width: 768px) {
  .domain p {
    font-size: 1.8rem;
  }
}

.domain .container {
  max-width: 700px;
}

.domain__domains {
  font-size: 1.8rem;
}

.block-plan {
  margin-bottom: 5rem;
}

.block-plan .grid {
  margin-left: 3rem;
  margin-right: 3rem;
  row-gap: 4rem;
}

@media screen and (min-width: 768px) {
  .block-plan .grid {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .block-plan .grid {
    margin: auto;
  }
}

.block-plan .plan {
  max-width: 500px;
}

.block-feature__heading {
  text-align: center;
  margin: 2rem;
}

.block-feature__tagline {
  margin: 2rem 0.5rem;
  text-align: center;
}

.feature-group {
  margin: 4rem;
  row-gap: 8rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.feature-group__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature-group:nth-of-type(even) .feature {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.block-showcase {
  width: 100%;
  padding-bottom: 10rem;
}

.block-showcase h2 {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

.block-showcase__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-showcase__img img {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .block-showcase__img img {
    width: auto;
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .block-showcase__img {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.block-showcase__content .media-object {
  margin-top: 3rem;
}

.block-testimonial .testimonial {
  margin: 4rem;
}

.block-testimonial h2 {
  margin: 3rem;
}

.block-footer .collapsible {
  width: 90%;
  padding: 2rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.block-footer__logo-box {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .block-footer__logo-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.block-footer__logo-box img {
  width: 80%;
  margin-top: 6rem;
}

@media screen and (min-width: 768px) {
  .block-footer__logo-box img {
    width: 100%;
    margin-top: 2rem;
  }
}

.block-footer__logo-tagline {
  color: #fff;
  opacity: 0.3;
  margin-bottom: 8rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .block-footer__logo-tagline {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */