*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

html {
  font-size: 62.5%;
}

body {
  margin: 5rem;
  border: 1px solid red;
  height: 100vh;
  width: 50%;
  line-height: 1.5;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("R../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.link {
  font-size: 2rem;
  font-weight: bold;
  color: #ff3400;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 1.5rem;
  }
}

.link::after {
  content: "-->";
  margin-left: 1rem;
  -webkit-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
}

.link:hover::after {
  margin-left: 2rem;
}

.badge {
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .badge--small {
    font-size: 1.2rem;
  }
}

.badge--primary {
  background-color: #2584ff;
}

.badge--secondary {
  background-color: #00d9ff;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.badge--primary-darken {
  background-color: #1178ff;
}

.badge--secondary-darken {
  background-color: #00c8eb;
}

.list {
  list-style: none;
  font-size: 2rem;
  margin-left: 2rem;
  color: #1b0760;
}

.list--tick {
  list-style-image: url(/scss/components/list/image/tick.svg);
}

.list--tick li {
  padding-left: 1rem;
  margin-top: 2rem;
}

.list--vertical {
  white-space: nowrap;
}

.list--vertical li {
  display: inline-block;
}

.list--domains li {
  font-weight: bold;
  margin-top: 3rem;
}

.icon {
  width: 40px;
  height: 40px;
  fill: #2584ff;
}

.icon-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f3f9fa;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
}

.btn {
  cursor: pointer;
  white-space: nowrap;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1.8rem;
  border-radius: 40px;
  text-align: center;
}

.btn--accent {
  background-color: #ff3400;
  color: white;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}

.btn--accent:hover {
  background-color: #cc2a00;
}

.btn--fit-content {
  display: inline-block;
}

.btn--with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--with-icon .icon {
  fill: #fff;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn--with-maxwidch {
  min-width: 150px;
  max-width: 200px;
}

.btn--outline {
  border: 2px solid #1b0760;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}

.btn--outline:hover {
  background-color: #1b0760;
  color: white;
}

.btn--secondary {
  background-color: #00d9ff;
  color: #fff;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}

.btn--secondary:hover {
  background-color: #00aecc;
}

.input {
  width: 100%;
  display: block;
  font-size: 2rem;
  padding: 2rem 3rem;
  border: none;
  color: #1b0760;
  outline: none;
}

.input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.input:-ms-input-placeholder {
  color: #b3b3b3;
}

.input::-ms-input-placeholder {
  color: #b3b3b3;
}

.input::placeholder {
  color: #b3b3b3;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 30px 20px #e6ebee;
          box-shadow: 0 0 30px 20px #e6ebee;
  overflow: hidden;
}

.input-group .btn {
  margin: 0.5rem;
}

.card {
  height: 500px;
  -webkit-box-shadow: 0 0 20px 10px #f3f3f3;
          box-shadow: 0 0 20px 10px #f3f3f3;
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card--primary .card__header {
  background-color: #2584ff;
}

.card--secondary .card__header {
  background-color: #00d9ff;
}

.card__header {
  height: 30%;
}

.card__body {
  height: 70%;
}

.grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--1x2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid--1x6-pc {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */