.btn {
  cursor: pointer;
  white-space: nowrap;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1.8rem;
  border-radius: 40px;
  text-align: center;
}
.btn--accent {
  background-color: $colorAccent;
  color: white;
  transition: all 0.17s ease-in-out;
  &:hover {
    background-color: darken($color: $colorAccent, $amount: 10%);
  }
}
.btn--fit-content {
  display: inline-block;
}

.btn--with-icon {
  .icon {
    fill: #fff;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  display: flex;

  justify-content: center;
  align-items: center;
}
.btn--with-maxwidch {
  min-width: 150px;
  max-width: 200px;
}
.btn--outline {
  border: 2px solid $colorHeadings;
  transition: all 0.17s ease-in-out;
  &:hover {
    background-color: $colorHeadings;
    color: white;
  }
}
.btn--secondary {
  background-color: $colorSecondary;
  color: #fff;
  transition: all 0.17s ease-in-out;
  &:hover {
    background-color: darken($color: $colorSecondary, $amount: 10%);
  }
}
