.hero {
  h1 {
    text-align: center;
    color: white;
    line-height: 1;
    font-size: 6rem;
    @include tablet-and-desktop {
      font-size: 8rem;
      text-align: left;
    }
  }
  p {
    margin: 3rem 2rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: #b9c3cf;
    @include tablet-and-desktop {
      text-align: left;
      margin-left: 0;
    }
  }
}
.hero__btn-shell {
  display: flex;
  justify-content: center;
  @include tablet-and-desktop {
    justify-content: left;
  }
  .btn {
    padding-left: 7rem;
    padding-right: 7rem;
    @include tablet-and-desktop {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 80%;
    @include tablet-and-desktop {
      width: 100%;
    }
  }
}
