.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  transition: all 0.16s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    transform: scale(1.08);
  }
}
.card--primary {
  .card__header {
    background-color: $colorPrimary;
  }
}
.card--secondary {
  .card__header {
    background-color: $colorSecondary;
  }
}
.card__header {
  height: 30%;
}
.card__body {
  height: 70%;
}
