<blockquote class="quote">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas illum, est,
    aliquid, similique itaque quidem modi velit enim deleniti officiis nemo? Aut
    quod quam modi qui, error porro cumque fuga dicta nobis soluta velit impedit
    quae maiores mollitia repudiandae optio?
  </p>
  <div class="media-object">
    <div class="medie-object__icon-container">
      <svg class="icon">
        <use xlink:href="scss/components/icon/image/sprite-icon.svg#line"></use>
      </svg>
    </div>
    <div class="media-object__body">
      <h3>Jinhan Du</h3>
      <p>DUIT Company CEO</p>
    </div>
  </div>
</blockquote>
