.link {
  font-size: 2rem;
  @include tablet-and-desktop {
    font-size: 1.5rem;
  }

  font-weight: bold;
  color: $colorAccent;
  text-decoration: none;

  &::after {
    content: "-->";
    margin-left: 1rem;
    transition: margin-left 0.15s ease-in-out;
  }

  &:hover::after {
    margin-left: 2rem;
  }
}
