<nav class="nav collapsible">
  <header class="nav__header collapsible__header">
    <div class="nav__logo">
      <img src="/scss/components/nav-bar/image/logo.svg" alt="" />
    </div>
    <svg class="icon nav-toggle-icon">
      <use xlink:href="scss/components/icon/image/sprite-icon.svg#menu"></use>
    </svg>
  </header>
  <div class="collapsible__content nav__content">
    <ul class="list collapsible__list nav__list">
      <li>Hosting</li>
      <li>VPS</li>
      <li>Domain</li>
      <li>Pricing</li>
    </ul>
  </div>
</nav>
