<div class="card testimonial grid grid--1x1 grid--1x2-pc">
  <div class="testimonial__image">
    <span class="icon-container">
      <svg class="icon">
        <use
          xlink:href="scss/components/icon/image/sprite-icon.svg#quotes"
        ></use>
      </svg>
    </span>
    <img src="scss/components/testimonial/image/testimonial.jpg" alt="" />
  </div>
  <blockquote class="quote">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia
      eligendi quidem quisquam omnis sunt quia, id ab dolores? Repudiandae
      ipsam.
    </p>
    <div class="media-object">
      <div class="medie-object__icon-container">
        <svg class="icon">
          <use
            xlink:href="scss/components/icon/image/sprite-icon.svg#line"
          ></use>
        </svg>
      </div>
      <div class="media-object__body">
        <h3>Jinhan Du</h3>
        <p>DUIT Company CEO</p>
      </div>
    </div>
  </blockquote>
</div>
