<!-- Component 1 -->
<article class="feature">
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="scss/components/icon/image/sprite-icon.svg#easy"></use>
    </svg>
  </span>
  <h3>Super Easy to Use</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel
    ad unde est illo at. Labore excepturi officia dolores!
  </p>
  <a href="" class="link">LEARN MORE</a>
</article>
<!-- Component 2 -->
<article class="feature">
  <span class="icon-container">
    <svg class="icon">
      <use
        xlink:href="scss/components/icon/image/sprite-icon.svg#computer"
      ></use>
    </svg>
  </span>
  <h3>Simply Fast Websites</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel
    ad unde est illo at. Labore excepturi officia dolores!
  </p>
  <a href="" class="link">LEARN MORE</a>
</article>
<!-- Component 3 -->
<article class="feature">
  <span class="icon-container">
    <svg class="icon">
      <use
        xlink:href="scss/components/icon/image/sprite-icon.svg#wordpress"
      ></use>
    </svg>
  </span>
  <h3>Wordpress Made Easy</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel
    ad unde est illo at. Labore excepturi officia dolores!
  </p>
  <a href="" class="link">LEARN MORE</a>
</article>
<!-- Component 4 -->
<article class="feature">
  <span class="icon-container">
    <svg class="icon">
      <use
        xlink:href="scss/components/icon/image/sprite-icon.svg#computer"
      ></use>
    </svg>
  </span>
  <h3>24/7 Expert Support</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel
    ad unde est illo at. Labore excepturi officia dolores!
  </p>
  <a href="" class="link">LEARN MORE</a>
</article>
